@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --primary:#1D4ED8;
  --primary-foreground: 0 0% 100%;
  --info: 188.7 94.5% 42.7%;
  --info-foreground: 0 0% 100%;
  --success: 142.1 70.6% 45.3%;
  --success-foreground: 0 0% 100%;
  --warning: 45.4 93.4% 47.5%;
  --warning-foreground: 0 0% 100%;
  --error: 0 84.2% 60.2%;
  --error-foreground: 0 0% 100%;
  --muted: 215 13.8% 34.1%;
  --border: 240 5.9% 90%;
  --radius: 0.75rem;

}

/* :root { */
  /* Your default theme */
  /* --background: white;
  --foreground: black; */

/* } */



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,body{
  scroll-behavior: smooth;
}
body {
direction: rtl;
margin: 0;
padding: 0;
box-sizing: border-box;
/* background-color: var(--background);
color: var(--foreground); */


}

/* .dark{
  background-color: red;
} */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.dropdown-menu {
  display: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-submenu {
  display: none;
  position: absolute;
  top: 0;
  left: -385px; /* Adjust the position as needed */
}

.dropdown-menu li:hover .dropdown-submenu {
  display: block;
}


.light{
  background-color: #000;
  color: #fff;
}
.dark{
  background-color: #fff;
  color: #000;
}

.searchBar{
  animation: interSearchbox 1s ease;

}

@keyframes interSearchbox {
  0%{
    top: -100px;
  }100%{
  top: 0;
  }
}

.light .basket{
  color: #fff;
}
.dark .basket{
  color: #000;
}
.light .profile-icon{
  color: #fff;
}
.dark .profile-icon{
  color: #000;
}



.interSideBar-bg{
  animation: interSideBar-bg 1s;
}

.interSideBar{
  animation: interSideBar 1s;
}


@keyframes interSideBar {
    0%{
      right: -300px;
    }100%{
      right: 0;
    }
  
}


@keyframes interSideBar-bg {
  0%{
    opacity: 0;
  }100%{
    opacity: 1;
  }

}



.ltr-com{
  direction: ltr;
}



 .activeLinkCourePage{
  background-color: #000;
 }



 /* Draver-tranisation */
 .Draver-tranisation{
  animation: Inter 1s ;
  position: relative;
 }
 @keyframes Inter {
  from{
    bottom:  -100px;
    opacity: 0;
  }to{
    bottom:  0;
    opacity: 1;
  }
 }